@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans TC", "PingFang TC", "Heiti TC", sans-serif;
}

@layer base {
  * {
    @apply border-zinc-200;
  }

  body {
    @apply m-0 font-sans text-zinc-900 antialiased;
  }
}
